<app-navigation></app-navigation>
<h3>Create Usuario</h3>
<form>
    <div class="form-group">
        <label for="categoryName"> Nombre</label>
        <input name="categoryName" type="text" class="form-control" id="categoryName"
            placeholder="Introduzca el nombre de la deduccion" [(ngModel)]="username">
    </div>

    <div class="form-group">
        <label for="categoryName"> Clave</label>
        <input name="categoryName" type="text" class="form-control" id="categoryName"
            placeholder="Introduzca el nombre de la deduccion" [(ngModel)]="password">
    </div>

    <div class="form-group">
        <label for="categoryName"> Tipo</label>
        <input name="categoryName" type="text" class="form-control" id="categoryName"
            placeholder="Introduzca el nombre de la deduccion" [(ngModel)]="tipo">
    </div>

    <button type="submit" class="btn btn-primary" (click)="editarUser()">Save</button>
    <button type="submit" class="btn btn-light" (click)="cancel()">Cancel</button>
</form>