<app-navigation></app-navigation>
<h4>Empleados</h4>
<button type="button" class="btn btn-success mb-2" (click)="crear()">
  <i class="fas fa-plus">Crear</i>
</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">Sexo</th>
      <th scope="col">Puesto</th>
      <th scope="col">Departamento</th>
      <th scope="col">Salario</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
        <tr *ngFor="let item of empleados">
            <th scope="row">{{item.empleadoId}}</th>
            <th>{{item.nombre}}</th>
            <th>{{item.telefono}}</th>
            <th>{{item.sexo}}</th>
            <th>{{item.cargoId}}</th>
            <th>{{item.departamentoId}}</th>
            <th>{{item.salario}}</th>
        <td>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info"
                (click)="editar(item.empleadoId)">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-danger"
                (click)="deleteEmpleado(item.empleadoId)">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </td>
        </tr>
    </tbody>
</table>
